{% extends "base.html" %}

{% block main %}
<div class="text-center mt-5">
  <h1>Welcome to INFO3180 Lab 2</h1>
  <p class="lead">This is a quick introduction to Flask</p>
  
  <div class="profile-preview mt-4">
    <img src="{{ url_for('static', filename='images/abishua.jpg') }}" alt="Profile Photo" class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
    <p>Check out my profile page to learn more about me!</p>
    <a href="{{ url_for('profile') }}" class="btn btn-success">View Profile</a>
  </div>
</div>
{% endblock %}